<h2>Parse dates:</h2>

<form action="/search" method="get">
  <textarea name="urls">
    https://www.caranddriver.com/reviews/a21786823/2019-audi-q8-first-drive-review/
    https://www.cnn.com/2020/03/12/opinions/oval-office-coronavirus-speech-trumps-worst-bergen/index.html
    https://www.nytimes.com/2020/03/11/us/politics/trump-coronavirus-speech.html
    https://www.sciencedirect.com/science/article/pii/S1319157819301259
    https://www.analyticsvidhya.com/blog/2019/06/comprehensive-guide-text-summarization-using-deep-learning-python/
    https://www.topgear.com/car-reviews/audi/q8
    https://www.youtube.com/watch?v=mii6NydPiqI
    https://lifehacker.com/the-seven-easiest-vegetables-to-grow-for-beginner-garde-1562176780
    https://gardenerspath.com/how-to/beginners/first-vegetable-garden/
    https://github.com/mbadry1/DeepLearning.ai-Summary
    https://machinelearningmastery.com/gentle-introduction-text-summarization/
  </textarea>

  <input type="submit" value="Process">
</form>
